<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :menu %>
    <%= f.input :quantity %>
    <%= f.input :delivery , collection: ["Recess", "Lunch1" , "Lunch2"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
